@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  background-color: rgba(0, 128, 0, 0.308);
} */
@layer base {
  html {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: #1f3756;
  }
}

@layer components {
  .bg-triangle {
    background-image: url(/images/bg-triangle.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }
@media (min-width: 768px) {
   .bg-triangle {
    background-image: url(/images/bg-triangle.svg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
  .circle {
    @apply rounded-full p-3 text-6xl bg-gray-200 transition-all md:p-5 md:text-8xl; 
    border-width: 12px;
    box-shadow:
    5px 5px 6px #0800003d, 
    5px 5px 6px rgba(0, 0, 0, 0.233),
      5px 5px 7px #0000001f, 
      inset 5px 5px 5px rgba(0, 0, 0, 0.322),
      inset 5px 5px 5px  rgba(0, 0, 0, 0.253),
      inset 5px 5px 5px rgba(0, 0, 0, 0.226),
      inset -3px -0px  6px rgba(0, 0, 0, 0.404),
      inset -3px -0px  6px  rgba(0, 0, 0, 0.322);
  }
  @media (min-width: 768px) {
  .circle{
    border-width: 20px;
  }
}
  .circle:hover{
    /* box-shadow: none; */
    transform:scale(1.05);
  }
  .circle:active{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
      5px 5px 5px rgba(0, 0, 0, 0.12), 
      inset 5px 5px 5px rgba(0, 0, 0, 0.5),
      inset 5px 5px 5px rgba(0, 0, 0, 0.12);
    transform:scale(.98);

  }

  .rules{
    background-image: url(/images/image-rules.svg);
    background-repeat: no-repeat;
    background-position:top 40% right 50%;
    background-size:300px;
  }
  @media (min-width: 768px) {
   .rules{
    background-image: url(/images/image-rules.svg);
    background-repeat: no-repeat;
    background-position:top 70% right 50%;
    background-size:300px;
  }
}




}
